
<h2><%= @asset.name %></h2>
<img src="<%= @asset.image.thumb.url %>">

<% if logged_in? && @asset.user_id == current_user.id %>

	<form action="/asset" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="hidden" name="id" value="<%= @asset.id %>">
		<button>delete</button>
	</form>

<% else %>

	<p>Designed by: <a href="/profile/<%= @user.username %>"><%= @user.name %></a> </p>

<% end %>

<p><%= @asset.description %></p>
<a href="<%= @asset.asset_file%>" download> Download Artwork</a>


<form action="/comments" method="post">
	<input type="hidden" name="asset_id" value="<%= @asset['id'] %>">
	<textarea name="content"></textarea>
	<button>Post Comment</button>
</form>

<% @comments.each do |comment| %>
	<p><%= User.find_by(id: comment.user_id).username %>: <%= comment.content %> </p>
<% end %>
